h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 2rem;
}

h3 {
  font-size: 1.4rem;
  color: #84a83a;
}
/*
.carousel-indicators {
  z-index: 20;
}

#carousel {
  margin: 0 auto;
  width: 80%;
  height: 20rem;
  border-radius: 7px;
}

.carousel-item {
  height: 20rem;
  background-position: center;
  background-size: cover;
  border-radius: 7px;
}
*/

.card img {
  width: 1.5rem;
}

body, p {
  font-size: 1.1rem !important;
}

#contenedor-texto {
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
  width: 80%;
  margin-bottom: 30px;
  margin-top: 50px;
}

.card-header {
  text-align: center;
}

 .card ul {
  list-style: none;
}

.galleria{ 
  width: 90%; 
  height: 33em;
  margin: 0 auto; 
}

h1 {
  font-size: 2em;
}

li::marker {
  color: #3e5423; 
}

#h3-equipamento {
  margin-top: 35px;
}
 
h1 {
  margin-top: 40px;
  margin-bottom: 40px;
}
