h1 {
  text-align: center;
  font-size: 2rem;
}


#contenedor-texto-inicio {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 60%;
}

#contenedor-texto-inicio h1 {
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 2.2rem;
}

#contenedor-texto-inicio h2 {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 1.7rem;
}

#contenedor-texto-inicio p {
  font-size: 1rem;
}

#contenedor-habitacion {
  display: flex;
  margin: 0 auto;
  width: 40%;
}

#contenedor-cards {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 7px;
  width: 80%;
  margin: 0 auto;
  background-color: rgb(247, 247, 247);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}


.card {
  overflow: hidden;
}

.card img {
  width: 100%;
  transition: all 1.4s ease;
}

.card:hover img{
  transform: scale(1.1);
  }

  .contenedor-imagen {
  overflow: hidden;
  }


.card-img-top {
  height: 12rem;
}


.card-body {
  text-align: center;
/*  border-left: 2px solid #84a83a;
 /* border-bottom: 2px solid #84a83a;
  /*border-right: 2px solid #84a83a;*/
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.card-text {
    font-size: 1 rem;
}
