@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@300&display=swap');


  
  .contenedor-principal {
    height: 500px;
  }

#contenedor-principal{
  height: 500px;
  background-image: url(../img/volcan-poas-costa-rica-1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
}


.sombra {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  text-align: center;
}


.texto-sombra {
  margin: 0 auto;
}

.texto-sombra h1 {
  color: #84a83a;
  font-size: 1em;
}


.texto-sombra, .texto-sombrea p {
  color: #ffffff;
  font-size: 3rem;
  margin: 0 auto;
}
  
.texto-sombra p {
  font-size: 2rem;
}


 
h3 {
  text-align: center;
  color: #000;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 1.8rem;
}


p {
  font-size: 1.1rem;
}

h5 {
  font-size: 1.4rem;
}



#contenedor-ofertas {
  margin: 0 auto;
  margin-top: 30px;
  width: 60%;
 
}

.card {
  margin-bottom: 35px !important;
  overflow: hidden;
  margin: 0 auto;
  max-height: 20rem;
}

.card img {
  width: 100%;
  transition: all 1.5s ease;
}

.card:hover img{
  transform: scale(1.1);
  }

  .contenedor-imagen {
  overflow: hidden;
  }

  /*
#salonEventos{
  display: grid;
  background-color: rgb(247, 247, 247);
}

#salonEventos h3{
  margin: 0 auto;
  text-align: center;
  color: #000;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 1.8rem;
}

#salonEventos .contenidoSalon{
display: flex;
flex-direction: row;
}

#salonEventos .contenidoSalon img{
  width: 50%;
  }


#salonEventos .contenidoSalon div p{
  margin: 20px;
  font-size: 1.1rem;
}
#salonEventos .contenidoSalon div .imagen{
  display: flex;
  flex-direction: row;
  
}
#salonEventos .contenidoSalon div .imagen img{
  width: 40%;
  margin: 0 auto;
}*/

.prueba {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 3em;
  margin-bottom: 4em;
}

.prueba img {
  height: 16em;
  margin-bottom: 30px;
}


.prueba2 {
background-image: url(../img/clover-1225988.jpg);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
height: 30em;
text-align: center;
}

.prueba2 h3 {
  color: #84a83a;
  font-size: 55px;
}

.prueba2 p {
  color: #ffffff;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  text-decoration: none;
  color: #ffffff;
}

  

  
  @media (max-width: 768px) {
      .card-texto {
          margin-top: 15px;
      }

   .card {
    width: 90%;
      max-height: 40rem;
    
   }
    
   .card  img{
    width: 100%;
    height: 13rem;
   }

   /*
   #salonEventos .contenidoSalon{
    display: flex;
    flex-direction: column;
    background-color: rgb(247, 247, 247);
  }
  #salonEventos .contenidoSalon{
    align-items: center;
  }
  #salonEventos .contenidoSalon div .imagen{
    display: flex;
    flex-direction: column;
  }
*/

  }
  
  