@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@300&display=swap");

#imagen-inicio {
    height: 350px;
    background-image: url(../img/contactanos.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#sombra {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    text-align: center;
  }

#texto-inicio {
    margin: 0 auto;
  }
  #texto-inicio h1 {
    color: #ffffff;
    font-size: 3rem;
    margin: 0 auto;
  }


h3 {
  text-align: center;
  color: #84a83a;;
}

#parte2 {
    height: 35rem;
    background-color: rgb(247, 247, 247);
    display: flex;
    flex-direction: row;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%; 
    margin: 0 10%;
}

#parte2 .contenido{
    display: flex;
    flex-direction: column;
     align-items: center;
     width: 50%;
}
#parte2 .contenido h3{
    margin-top: 2%;
}
#parte2 .contenido p{
    text-align: justify;
   margin-left: 1rem;
   margin-right: 1rem;
}
#parte2 .contenido i{
    font-size: 8rem;
}
#parte2 .contenido img{
    margin-top: 10%;
    margin-bottom: 5%;
    width: 10rem;
}



#time-line ul {
  width: 100%;
  text-align: center;
}

#time-line li {
  list-style: none;
  display: inline-block;
  padding: 1em;
  font-size: 1.1em;
}

.mostrar-card {
  /* height: 15rem; */
  /* background-color: rgb(247, 247, 247); */
  width: 60%;
  left: 20%;
  position: absolute;
  border-radius: 7px; 
  animation: fadeIn 1s;
}

.mostrar-card img {
  display: flex;
  margin: 0 auto;
  width: 7rem;
  height: 7rem;
  margin-bottom: 1.4rem;
}

.mostrar-card p {
font-size: 1.1em !important;
width: 90%;
margin: 0 auto;
}

#img-convivencia {
  width: 7rem;
  height: 6rem;
}

#img-respeto {
  width: 7rem;
  height: 5.5rem;
}

 #img-libertad {
height: 5rem;
width: 5rem;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.ocultar-card {
  display: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

#contenedor-cards-creemos {
height: 27rem;
}

.label-activa {
  border-bottom: 4px solid #84a83a;
  }
  

#contenedor-historia {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
  width: 50%;
  margin: 0 auto;
}

#contenedor-historia img {
  width: 90%;
  height: 25rem;
  margin: 0 auto;
}

#contenedor-historia-p {
  display: flex;
  align-items: center;
}

#contenedor-fundador {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 50px;
}

#contenedor-fundador-img {
  /* height: 25rem; */
  margin-bottom: 20px;
}

#contenedor-fundador-img img {
width: 100%;
height: 100%;
border-radius: 5px;
}

@media (max-width: 990px) {
  #contenedor-historia {
    width: 70%;
  }

  #contenedor-historia img {
    width: 40%;
    margin-bottom: 30px !important;
    margin: 0 auto;
    display: flex;
  } 

  .mostrar-card {
    width:80% ;
    left: 10% !important;
    }
}

@media (max-width: 800px) {
    #parte1{
        margin-bottom: 10%;
    }
    #parte1 .info{
        display: flex;
        flex-direction: column; 
      }
      #parte1 .info .texto{
        text-align: justify;
       margin: 5%;
      }
      #parte1 .info .imagen{
       text-align: center;
      }
      #parte1 .info .imagen img{
        width: 0px;
       }
      
      #parte2{
        display: flex;
        flex-direction: column;
      }
      #parte2 .contenido{
        margin: 0 auto;
      }
      #parte2 .contenido i{
        font-size: 0rem;
    }
      #parte2 .contenido img{
        width: 0rem;
    }

    #contenedor-historia img {
      width: 50%;
    }

    
  /* #contenedor-cards-creemos {
    height: 29rem;
    } */

    .mostrar-card {
      left: 17%;
      }

/* #contenedor-fundador-img {
  height: 20rem;
} */
}
@media (max-width: 700px) {
    .mostrar-card {
    width:90% ;
    left: 17%;
    }

    #contenedor-fundador {
      width: 80%;
    }

    #contenedor-fundador-img {
      width: 100%;
    }

    #contenedor-fundador-img img{
      height: 14rem !important;
    }

    #contenedor-historia {
      width: 80%;   
    }
    
    #contenedor-historia img {
      width: 50%;
      height: 20rem;
    }

        
    #contenedor-historia p {
      width: 80%;
      text-align: center;
      margin: 0 auto;

    }
    #contenedor-cards-creemos {
      height: 27rem; 
     }
  
}

@media (max-width: 400px) {
  #contenedor-cards-creemos {
    height: 40rem; 
   }

   #contenedor-historia img {
    width: 40%;
    height: 20rem;
  }
     
  #contenedor-historia p {
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }

}