@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@300&display=swap');


body {
    
  font-family: "Playfair Display", serif;
}

#logo-nav {
  width:68px ;
}

/*nav {
  background-color: aqua;
}*/

.navbar-brand {
  z-index: 1;
  position: absolute;
  margin-left: 4%;
}

.nav-link {
  color: #84a83a;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
}

.nav-link:hover {
  color: #3e5423;
}

@media (max-width: 991px) {
  .navbar-brand {
    position: static;
  }
}

