@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}
html{
  font-size: 16px;
}

@media (max-width: 991px) {
  html {
    font-size: 14px;
  }

  }

@media (max-width: 540px) {
  html {
    font-size: 13px;
  }
  
}

#logo-nav {
  width:68px ;
}

/*nav {
  background-color: aqua;
}*/
#a:hover{
  color: #3e5423;
}
.navbar-brand {
  z-index: 1;
  position: absolute;
  margin-left: 4%;
}

.nav-link {
  color: #84a83a;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
}

.navbar-nav:hover {
  color: #3e5423;
}

.btn-success  {
  background-color: #84a83a !important;
  border-color: #84a83a !important;
  
}

.btn-success:hover {
  background-color: #769733 !important;
  border-color: #769733 !important;
}

@media (max-width: 991px) {
  .navbar-brand {
    position: static;
  }
}

@media (min-width: 1700px) {

  p,a{
    font-size: 1.2rem !important;
  }
}

